.reset{
	padding:0;
	margin:0;
}
.login-wrap{
	margin: 150px auto 0;
	width: 415px;
}
.login-wrap .register{
	
}
.account-home{
	margin: 100px auto 0;
	width: 500px;
}

.account-home .welcome-title{
	text-align:center;
}
.tab-content{
	padding: 15px 5px;
}
.tab-content #profile{

}
.tab-content ul{
	padding: 0;
}
.tab-content ul li{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.login-link{
	margin-left: 35%;
}
.register-link{
	margin-left: 30%;
}
.register-btn{
	float: right;
}
.form-horizontal .control-label.text-left{
	text-align:left;
}
.account-section{
	border-bottom: 1px solid #ddd;
	padding-bottom: 25px;
}
.tab-pane .account-section:last-child{
	border-bottom: 0;
}
.panel .list.profile{
	max-width:400px
}
.panel.item-display{
	border-top:0;
	border-radius:0 4px 4px;
}
.memberscount{
	font-style: italic;
	padding-right: 10px;
}
#messages .author-link{
	text-decoration:underline;
	color:#428bca;
}
#messages .userinfo{
	max-width: 8em;
	min-width: 8em;
}
#messages .userinfo a.full_name{
	font-size: 1em;
	font-weight: bold;
}
#messages .message-body{
	margin: 0;
}
.badge.posted-date{
	border-radius:5px;
}
.thread-comments{
	margin: 3em 3em 0;
}
.thread-comment-form{

}
.forgot-link{
	float: right;
}