.reset{
	padding:0;
	margin:0;
}
.login-wrap{
	margin: 150px auto 0;
	width: 415px;
}
.login-wrap .register{
	
}
.account-home{
	margin: 100px auto 0;
	width: 500px;
}

.account-home .welcome-title{
	text-align:center;
}
.tab-content{
	padding: 15px 5px;
}
.tab-content #profile{

}
.tab-content ul{
	padding: 0;
}
.tab-content ul li{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.login-link{
	margin-left: 35%;
}
.register-link{
	margin-left: 30%;
}
.register-btn{
	float: right;
}
.form-horizontal .control-label.text-left{
	text-align:left;
}
.account-section{
	border-bottom: 1px solid #ddd;
	padding-bottom: 25px;
}
.tab-pane .account-section:last-child{
	border-bottom: 0;
}
.panel .list.profile{
	max-width:400px
}
.panel.item-display{
	border-top:0;
	border-radius:0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.memberscount{
	font-style: italic;
	padding-right: 10px;
}
#messages .author-link{
	text-decoration:underline;
	color:#428bca;
}
#messages .userinfo{
	max-width: 8em;
	min-width: 8em;
}
#messages .userinfo a.full_name{
	font-size: 1em;
	font-weight: bold;
}
#messages .message-body{
	margin: 0;
}
.assigned_users_list{
	
}
.assigned_users_list ul{
	margin:0;
	padding:0;
}
.assigned_users_list ul li{
	float: left;
	list-style: outside none none;
}
.assigned_users_list ul li .sep{
	padding-right: 5px;
}
.assigned_users_list ul li:last-child .sep{
	display: none;
}
.badge.posted-date{
	border-radius:5px;
}
.thread-comments{
	margin: 3em 3em 0;
}
.thread-comment-form{

}
.forgot-link{
	float: right;
}

/**SLICKGRID**/
.slick-cell.column-center{
	text-align: center;
}
a.view-task-trigger,a.view-task-direct{
	margin-top: 7px;
}
/* Grid Layout */
.gridster{
	height:100%;
	width:100%;
	background:none;
	margin: 0px auto;
}
.gridster #gridstercontent{
	background:none;
	list-style-type:none;
	margin-left:15px;
}
.gridtoolbar:hover{
	background:#666;
}
.gridtoolbar {
	width:25px;
	cursor:pointer;
	position:relative;
	text-align:center;
	float:right;
	line-height:25px;
	border-left:1px #777 solid;
}
.gridster .li {
	background:#eee;
	box-shadow: 2px 2px 1px 0px #eee;
	border-radius:4px;
}
.gridtitle {
	background :#4C4F53 repeat-x center top;
	padding-left:5px;
	height:25px;
	color:#fff;
	border: 1px #ddd solid;
	line-height:25px;
	font-size:15px;
	font-weight:bold;
}
.gridtext {
	float:left;
	line-height:25px;
}
#widget-new-design .nav-tabs > li > a{
	outline:none;
}
#widget-new-design .tab-content {
	padding:0;
}